<div class="visitBakery">

  <div class="left-visit ">
      <h2 class="title">Freshly Backed Every Morning</h2>
      <p class="para-visit">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>

      <div class="openingToVisit ">
        <h3 class="title-opening">Opening Hours</h3>
        <div class="openingDate">
          <p class="day">sunday  -  Thursday</p>
          <p class="hour">08:00 AM  -  10:00 PM</p>
        </div>
      </div>

      <button class="btn-visit ">Visit Us</button>
  </div>

  <div class="right-visit">
    <img src="../../../../assets/images/visit.png" alt="image-visit" width="438" height="467">
  </div>
</div>
